# Ignore these files in local dev
**/.vscode

# Do not add jenkins plugins binary
#**/jenkins/plugins

# Remove scratch file
.scratch
!cypress/integration/cypress_tests/**
# Remove these directories
golang/
www/
cypress/fixtures/
cypress/integration/examples/
cypress/plugins/
cypress/support/
scripts/
acme/
certs/
*.ps1
dev
jenkins/plugins/
cypress.json
cypress.docker-compose.yaml
!jenkins/init_jenkins.sh
*.log
!**/**/cypress_tests/
