# Keep these directories & files
!cypress/integration/cypress_tests/**
!jenkins/init_jenkins.sh

# Ignore these files in local dev
**/docker
**/.vscode
*.scratch
*.ps1
dev
**/*copy.bak
**/*env.bak
cypress.docker-compose.yaml
*.log
*-ingress*.yaml
*-loadbalancer*.yaml

# Remove these directories
**/video
**/jenkins_data/
**/plugins/
golang/
www/
kubernetes/jenkins/plugins/ 
cypress/fixtures/
cypress/integration/examples/
cypress/plugins/
cypress/support/
scripts/
acme/
certs/
jenkins/plugins/
!**/**/cypress_tests/
