# Define your project directory and file locations here:
####################################################################################
# Dockerfiles
__CYPRESS_DOCKERFILE__=
__WWW_DOCKERFILE__=
####################################################################################
# Yaml files
__HYFI_DEPLOYMENT__=
####################################################################################
# Directories
__TEST_DIR__=
####################################################################################
# Test Sample
__CYPRESS_SAMPLE__=
####################################################################################
# IP Addresses
__IP_ADDR__=
__DISPLAY__=
####################################################################################
# Variables
__CYPRESS__="cypress"
__DOCKER__=
__CYPRESS_INCLUDED_IMAGE__=
__WWW_WEBSERVER_IMAGE__=
__GET_ENV__=
__PROJECT_ENV__=
__HYFI_CNTR_COUNT__=
__CYPRESS_CNTR_COUNT__=
__CYPRESS_TEST_DIR__=
